* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafc;
    color: #222;
    line-height: 1.6;
}

img {
    width: 100%;
    display: block;
}


h1 {
    font-size: 2.027rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.802rem;
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
    font-size: 1.266rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background: #fff;
    padding: 1rem 0;
}

header img {
    width: 130px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
} 

.product {
    background: #f1f3f5;
    padding: 2rem 0;
}

.product-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-shot {
    display: grid;
    gap: 1rem;
}

.product-shot img {
    border-radius: 10px;
}

.tag {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.price {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem 0;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.75rem 1.2rem;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 1rem;
}

btn:hover {
    background: #222;
}

.back-story {
    background: #eaeef2;
    padding: 3rem;
}

.back-text {
    margin-top: 1.5rem;
}


.reviews {
    background: #000;
    color: #fff;
    padding: 3rem 0;
}

.review-grid {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
}

.review-grid blockquote {
    padding: 1rem;
}

.review-grid cite {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
}

.try-it-with {
    background: #f1f3f5;
    padding: 1rem;
}

.try-grid article {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.try-grid img {
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (min-width: 768px) {

    .product-layout {
        flex-direction: row;
    }

    .back-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .try-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {

    .product-shot {
        grid-template-columns: repeat(2, 1fr);
    }

     .review-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .try-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}